.btn {
  color: #2ecc71;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.72px;
  padding: 12px 36px;
  background: #fff;
  border-radius: 21px;
}