// ==================== >>> FONTS <<< ==================== //

$font-family: 'Roboto', 'Arial', 'Tahoma', 'Times New Roman', sans-serif;
$font-size: 1.125rem;
$line-height: 2rem;
$font-weight: 300;
$letter-spacing: 0.7px;

// ==================== >>> COLORS <<< ==================== //

$bg-color: #2ecc71;
$white: #fff;
$dark-gray: #5a5a5a;
$light-gray: #e7e7e7;
$green: #2ecc71;

// ==================== >>> SIZES <<< ==================== //

$max-width: 1170px;

// ==================== >>> MEDIA-QUERIES <<< ==================== //

$desktops: 1199.98px;
$tablets: 991.98px;
$landscape-phones: 767.98px;
$phones: 575.98px;

