// Colors
$bg-color: #2ecc71;
$white: #fff;
$dark-gray: #5a5a5a;
$light-gray: #e7e7e7;;
$green: #2ecc71;

// Sizes
$max-width: 1170px;

$breakpoints: (
        "phone" : 400px,
        "phone-wide" : 480px,
        "phablet" : 560px,
        "tablet-small": 640px,
        "tablet" : 768px,
        "tablet-wide" : 1024px,
        "desktop" : 1248px,
        "desktop-wide": 1440px
);

// Fonts
$font-family: 'Roboto', 'Arial', 'Tahoma', 'Times New Roman', sans-serif;
$font-size: 1.125rem;
$line-height: 1.7;
$font-weight: 400;
$letter-spacing: 0.7px;